.full-screen-map {
  height: 100%;
}

.leaflet-tooltip {
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
  font-size:14px;
  font-weight: 700;
  color: #fff !important;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.leaflet-tooltip-left::before {
  display: none !important;
}

.leaflet-tooltip-right::before {
  display: none !important;
}

.map-container {
  position: relative;
  flex-grow: 1;
  touch-action: manipulation;
}

.map-layer-selector {
  position: absolute;
  right: 20px;
  z-index: 1000;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  width: 280px;
  opacity: 0.8;
}

.map-zone-selector {
  position: absolute;
  right: 20px;
  z-index: 1000;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  width: 320px;
  opacity: 0.8;
}

.map-footer {
  position: absolute;
  right: 20px;
  bottom: 0px;
  padding-bottom: 20px;
  z-index: 1000;
  
}

.map-footer-component {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.layer-selector-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1010;
}

.mouse-coordinates {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1010;
  padding: 10px;
  border-radius: 10px;
}
