.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

.IconImageBox {
  width: 32px;
  height: 32px;
}

.IconImage {
  width: 100%;
  object-fit: scale-down;
}

/* ensures the increment/decrement arrows always display */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

img {
  height: auto;
  max-width: 100%;
}

[data-theme='dark'] a {
  text-decoration: none;
  color: #90caf9;
}

[data-theme='light'] a {
  text-decoration: none;
  color: #1e88e5;
}